<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UPI Intent Sample App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75E7CFFE2AB9A4FE006CF919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75E7D0142AB9A500006CF919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75E7D01E2AB9A500006CF919</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
